.about-ps{
    .item-overview-heading{
        padding: 1rem;
    }
    .item-overview-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        .io-selector{
            width: 350px;
            background: #2a2a2a76;
            display: flex;
            flex-direction: column;
            position: relative;
            @include lt-md{
                width: auto;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .io-option{
                display: block;
                width: auto;
                padding: 1.5rem 2rem;
                background: #563cd3;
                cursor: pointer;
                transition: 200ms;
                border-bottom: 1px solid grey;
            }
        }
        .io-content{
            width: 700px;
            display: block;
            position: relative;
            background: #2a2a2a32;
            height: 40rem;
            @include lt-md{
                width: 100%;
            }
        }
    }
}