$nav_height: 3.5rem;
$link_padding: 0 .6rem;
$link_margin: 0 .4rem;

/* rgb(12, 124, 98) */
$nav_color: $dark-blue_bg;

header{
    position: relative;
    z-index: 4;
    display: block;
    background: rgb(1, 25, 60);
    border-bottom: 1px solid rgb(60, 60, 60);
    nav.nav-main{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1500px;
        min-height: $nav_height;
        margin: 0 auto;
        color: rgb(244, 244, 244);
        .nav-section{
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 0 1rem;
            &.left{
                justify-content: left;
                padding: 0 1rem 0 .5rem;
                flex-wrap: wrap;
                @include lt-md{
                    padding: 1rem 0;
                }
                @include lt-sm{
                    width: 100%;
                    justify-content: space-between;
                    padding: 0;
                }
                .logotype{
                    height: 2.5rem;
                    display: block;
                    position: relative;
                    vertical-align: middle;
                    padding: .2rem .5rem;
                    border-radius: .5rem;
                    transition: 300ms;
                    @include lt-sm{
                        margin: 0 0 0 .6rem;
                    }
                }
                .toggleButton{
                    position: relative;
                    display: none;
                    padding: .7rem 0;
                    /* background: rgb(73, 73, 73); */
                    border: 2px solid rgb(73, 73, 73);
                    border-radius: .3rem;
                    cursor: pointer;
                    transition: 200ms;
                    &:hover{
                        background: rgb(13, 13, 13);
                    }
                    &:target{
                        background: rgb(13, 13, 13);
                    }
                    @include lt-sm{
                        width: fit-content;
                        display: block;
                        margin: 0 .6rem 0 0;
                        padding: 0;
                    }
                    *{
                        pointer-events: none;
                    }
                    &>.hamburger.is-active{
                        background: rgb(13, 13, 13);
                    }
                    .hamburger{
                        background: transparent !important;
                        padding: 9px;
                        .hamburger-box{
                            height: 30px;
                            .hamburger-inner{
                                background-color: rgb(73, 73, 73);
                                &::after{
                                    background-color: rgb(73, 73, 73);
                                }
                                &::before{
                                    background-color: rgb(73, 73, 73);
                                }
                            }
                        }
                    }
                }
            }
            &.right{
                justify-content: space-between;
                flex: 1;
                padding-left: 0;
                transition: 0ms ease-in-out;
                @include lt-sm{
                    justify-content: flex-start;
                    position: absolute;
                    background: rgb(1, 16, 38);
                    z-index: 4;
                    top: calc(100% + 1px);
                    right: 0;
                    width: 0rem !important;
                    height: calc(100dvh - 75px);
                    border-left: none;
                    border-bottom: none;
                    border-radius: 0 0 0 5px;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    display: block;
                    &.open{
                        border-left: 1px solid rgb(60, 60, 60);
                        border-bottom: 1px solid rgb(60, 60, 60);
                        overflow-y: scroll;
                        width: 100% !important;;
                    }
                }
                .bottom-nav-items{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    @include lt-sm{
                        flex-direction: column;
                    }
                }
                .dropdown-container{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 .5rem 0 0;
                    height: 3.5rem;
                    pointer-events: none;
                    @include lt-sm{
                        margin: 0 !important;
                    }
                    &.dc-langSelect{
                        @include lt-md{
                            padding: 0.25rem 0 0 0;
                        }
                    }
                    .langSelect{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: .1rem .25rem;
                        cursor: pointer;
                        /* background: rgba(49, 49, 49, 0.8); */
                        border-radius: .5rem;
                        transition: 300ms;
                        pointer-events: all;
                        text-align: center;
                        &:hover{
                        }
                        &.open{
                            span.icon{
                                transform: rotate(180deg);
                            }
                            &+.dropdown{
                                display: block;
                                animation: drop_animation 200ms ease-in-out forwards;
                                @keyframes drop_animation {
                                    0%{
                                        opacity: 0;
                                        transform: translateY(10px);
                                    }
                                    100%{
                                        opacity: 1;
                                        transform: translateY(0px);
                                    }
                                }
                            }
                        }
                        .currentLang{
                            position: relative;
                            pointer-events: none;
                            display: block;
                            vertical-align: middle;
                            img{
                                display: block;
                                position: relative;
                                max-height: 2rem;
                                vertical-align: middle;
                                pointer-events: none;
                            }
                        }
                        span.icon{
                            position: relative;
                            pointer-events: none;
                            display: block;
                            vertical-align: middle;
                            transition: 200ms;
                        }
                    }
                    .dropdown{
                        cursor: default;
                        display: none;
                        width: fit-content;
                        position: absolute;
                        z-index: 2;
                        top: 100%;
                        right: 0;
                        padding: .2rem 0 0 0;
                        background: rgb(39, 26, 48);
                        border: 1px solid #170c31;
                        box-shadow: 0 6px 14px 1px #00000063;
                        pointer-events: all;
                        @include lt-sm{
                            right: -135%;
                        }
                        *{
                            pointer-events: none;
                        }
                        .lang-option{ 
                            position: relative;
                            pointer-events: all;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            padding: .3rem 1rem;
                            cursor: pointer;
                            color: rgb(238, 238, 238) !important;
                            &:hover{
                                background: rgb(24, 17, 29);
                            }
                            &.active{
                                background: rgb(24, 17, 29);
                                cursor: default;
                                pointer-events: none;
                            }
                            img{
                                display: block;
                                position: relative;
                                height: 2rem;
                                width: 2rem;
                                margin-right: .3rem;
                            }
                            span.lang-name{
                                font-size: 17px;
                                display: block;
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .site-navigation{
                    @include sm{
                        border-top: 1px solid grey;
                    }
                    @include lt-sm{
                        width: 100%;
                        margin: 0 0 .4rem 0;
                        position: relative;
                        display: block;
                        border: none;
                    }
                }
                .nav-links{
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin: 0 1rem;
                    padding: 0;
                    transition: 350ms;
                    /* border-left: 2px solid rgba(49, 49, 49, 0.196);
                    border-right: 2px solid rgba(49, 49, 49, 0.196); */
                    @include lt-md{
                        margin: 0;
                    }
                    @include lt-sm{
                    }
                    .key-price{
                        vertical-align: middle; color: rgba(255, 255, 255, 0.507); font-size: .8rem; line-height: 3.5rem; margin-left: .5rem;
                        @include lt-md{
                            position: absolute;
                            display: block;
                            bottom: 85%;
                            left: 5px;
                        }
                        @include lt-sm{
                            position: relative;
                            bottom: unset !important;
                        }
                    }
                    .link{
                        font-size: 18px;
                        letter-spacing: .05rem;
                        display: block;
                        position: relative;
                        padding: $link_padding;
                        height: $nav_height;
                        line-height: $nav_height;
                        color: rgb(243, 243, 243);
                        transition: all 200ms ease-in-out;
                        /* border-radius: 0 0 5px 5px; */
                        &:hover{
                            color: #a970ff;
                            /* text-shadow:0px 0px 4px rgb(157, 78, 230); */
                        }
                        &::before{
                            clip-path: inset(0 0 0 100%);
                            border-radius: 0 0 5px 5px;
                        }
                        &[href="/giveaway"]{
                            color: #edb341;
                        }
                        &.notif{
                            &::after{
                                content: "";
                                position: absolute;
                                display: block;
                                width: 4px;
                                height: 4px;
                                background: #edb341;
                                border-radius: 50%;
                                bottom: 9px;
                                left: 50%;
                                transform: translateX(-50%);
                                animation: notif-fading 1800ms ease-in-out infinite;
                                @keyframes notif-fading {
                                    0%{
                                        opacity: 0%;
                                    }
                                    20%{
                                        opacity: 100%;
                                    }
                                    80%{
                                        opacity: 100%;
                                    }
                                    100%{
                                        opacity: 0%;
                                    }
                                }
                                @include lt-sm{
                                    display: none !important;
                                }
                            }
                        }
                        @include lt-md {
                            font-size: 21px;
                            border-radius: 5px;
                            margin: 0;
                            padding: 0 .85rem;
                            &::before{
                                top: -1.5px !important;
                            }
                        }
                        @include lt-sm{
                            width: calc(100% - 2rem);
                            padding: 0 1rem;
                            text-align: center;
                            border-bottom: 1px solid grey;
                            border-radius: 0;
                            
                            &::before{
                                top: 100% !important;
                                bottom: 0px !important;
                                border-radius: 0 !important;
                            }
                        }
                    }
                    $line_height: 3px;
                    &.Home{
                        .link[href="/"]{
                            cursor: default;
                            pointer-events: none;
                            color: #a970ff;
                            transition: 250ms;
                            &::before{
                                content: "";
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: $line_height;
                                background: #a970ff;
                                top: 0;
                                left: 0;
                                clip-path: inset(0 0 0 0);
                            }
                            @include lt-sm{
                                background: rgb(11, 11, 11);
                                &::before{
                                    display: none !important;
                                }
                            }
                            /* background: #4922b5; */
                        }
                    }
                    &.Trade{
                        .link[href="/trade"]{
                            cursor: default;
                            pointer-events: none;
                            color: #a970ff;
                            transition: 250ms;
                            &::before{
                                content: "";
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: $line_height;
                                background: #a970ff;
                                top: 0;
                                left: 0;
                                clip-path: inset(0 0 0 0);
                            }
                            @include lt-sm{
                                background: rgb(11, 11, 11);
                                &::before{
                                    display: none !important;
                                }
                            }
                        }
                    }
                    &.Items{
                        .link[href="/items"]{
                            cursor: default;
                            pointer-events: none;
                            color: #a970ff;
                            transition: 250ms;
                            &::before{
                                content: "";
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: $line_height;
                                background: #a970ff;
                                top: 0;
                                left: 0;
                                clip-path: inset(0 0 0 0);
                            }
                            @include lt-sm{
                                background: rgb(11, 11, 11);
                                &::before{
                                    display: none !important;
                                }
                            }
                        }
                    }
                    &.Giveaway{
                        .link[href="/giveaway"]{
                            cursor: default;
                            pointer-events: none;
                            color: #edb341;
                            transition: 250ms;
                            &::before{
                                content: "";
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: $line_height;
                                background: #eba519;
                                top: 0;
                                left: 0;
                                clip-path: inset(0 0 0 0);
                            }
                            @include lt-sm{
                                background: rgb(11, 11, 11);
                                &::before{
                                    display: none !important;
                                }
                            }
                        }
                    }
                    &.About{
                        .link[href="/about"]{
                            cursor: default;
                            pointer-events: none;
                            color: #a970ff;
                            transition: 250ms;
                            &::before{
                                content: "";
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: $line_height;
                                background: #a970ff;
                                top: 0;
                                left: 0;
                                clip-path: inset(0 0 0 0);
                            }
                            @include lt-sm{
                                background: rgb(11, 11, 11);
                                &::before{
                                    display: none !important;
                                }
                            }
                        }
                    }
                    @include lt-sm{
                        flex-direction: column;
                        margin: 0;
                    }
                }
                a[href="/auth/steam"]{
                    position: relative;
                    display: block;
                    padding: .4rem 1rem;
                    background: rgb(63, 31, 92);
                    /* box-shadow: 0px 0px 7px 3px rgb(103, 38, 164); */
                    color: rgba(255, 255, 255, 0.747);
                    border-radius: .5rem;
                    transition: all 300ms ease-in-out;
                    white-space: nowrap;
                    border-right: 2px solid rgb(87, 45, 126);
                    border-bottom: 2px solid rgb(87, 45, 126);
                    &:hover{
                        background: rgb(74, 37, 109);
                        /* box-shadow: 0px 0px 0px 0px rgb(103, 38, 164); */
                    }
                    span{
                        font-size: 18px;
                        white-space: nowrap;
                    }                    
                    span.icon{
                        vertical-align: middle;
                        height: 19px;
                    }

                    @include lt-md{
                        margin: .5rem 0;
                    }
                }
                .user-section{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    pointer-events: none;
                    .dropdown-container{
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin: 0 0 0 .75rem;
                        height: 3.5rem;
                        @include lt-sm{
                            margin: 0 !important;
                        }
                        &.dc-avatar{
                            order: 3;
                            .user-avatar{
                                display: block;
                                position: relative;
                                padding: .175rem .275rem;
                                cursor: pointer;
                                background: rgb(82, 52, 201);
                                /* background: rgba(49, 49, 49, 0.4); */
                                border-radius: .5rem;
                                pointer-events: all;
                                background: #563cd3;
                                border: 2px solid #422ea6;
                                /* box-shadow: 0 0 3px 1px #563cd3; */
                                transition: all 250ms ease-in-out;
                                white-space: nowrap;
                                &:hover{
                                    background: #6349e2;
                                }
                                &.open{
                                    background: #6349e2;
    
                                    span.icon{
                                        transform: translateX(4px) rotate(180deg);
                                    }
                                    &+.dropdown{
                                        display: block;
                                        animation: drop_animation 200ms ease-in-out forwards;
                                        @keyframes drop_animation {
                                            0%{
                                                opacity: 0;
                                                transform: translateY(10px);
                                            }
                                            100%{
                                                opacity: 1;
                                                transform: translateY(0px);
                                            }
                                        }
                                    }
                                }
                                img{
                                    display: inline-block;
                                    position: relative;
                                    width: 1.8rem;
                                    height: 1.8rem;
                                    border-radius: .1rem;
                                    pointer-events: none;
                                }
                                .icon{
                                    display: inline-block;
                                    position: relative;
                                    text-align: center;
                                    user-select: none;
                                    pointer-events: none;
                                    transition: 200ms;
                                    width: 12px;
                                    left: -4px;
                                }
                            }
                            .dropdown{
                                cursor: default;
                                display: none;
                                position: absolute;
                                z-index: 0;
                                top: 100%;
                                right: 0;
                                padding: .2rem 0 0 0;
                                background: rgb(39, 26, 48);
                                border: 1px solid #170c31;
                                box-shadow: 0 6px 14px 1px #00000063;
                                a{  
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    position: relative;
                                    padding: .45rem .8rem;
                                    pointer-events: all;
                                    font-size: 16px;
                                    color: rgb(233, 233, 233);
                                    &:hover{
                                        background: rgba(0, 0, 0, 0.5);
                                    }
                                    &[href="/logout"]{
                                        color: rgb(211, 38, 38);
                                    }
                                    span{
                                        white-space: nowrap;
                                        letter-spacing: .05rem;
                                        &:last-of-type{
                                            margin-left: .5rem;
                                        }
                                    }
                                }
                                .section-devider{
                                    display: block;
                                    position: relative;
                                    height: 1px;
                                    width: 85%;
                                    margin: .25rem auto;
                                    background: rgba(128, 128, 128, 0.506);
                                }
                            }
                        }
                        &.dc-notifications{
                            order: 1;
                            margin: 0;
                            .notifications{
                                display: block;
                                padding: .3rem;
                                border-radius: 5px;
                                transition: all 200ms ease-in-out;
                                color: white;
                                /* background: rgba(49, 49, 49, 0.4); */
                                text-align: center;
                                cursor: pointer;
                                pointer-events: all;
                                &:hover{
                                    color: #a970ff;
                                    /* text-shadow:0px 0px 9px rgb(157, 78, 230); */
        
                                }
                                span{
                                    display: block;
                                    vertical-align: middle;
                                    font-size: 21px;
                                    pointer-events: none;
                                }
                                &.open{
                                    color: white;
                                    /* text-shadow:0px 0px 9px rgb(157, 78, 230); */
                                    background: #563cd3;
                                    &+.dropdown{
                                        display: block;
                                    }
                                }
                            }
                            .dropdown{
                                cursor: default;
                                display: none;
                                position: absolute;
                                font-size: 16px;
                                z-index: 2;
                                top: 100%;
                                right: 0;
                                width: 300px;
                                padding: 0;
                                background: rgb(39, 26, 48);
                                box-shadow: 0 6px 14px 1px #00000063;
                                white-space: nowrap;
                                @include lt-md{
                                    right: 50%;
                                    transform: translateX(50%);
                                }
                                @include lt-sm{
                                    right: unset;
                                    transform: none;
                                    left: -258%;
                                }
                                .notif-header{
                                    position: relative;
                                    display: block;
                                    .header-text{
                                        display: block;
                                        padding: .7rem 1.2rem;
                                        letter-spacing: .2rem;
                                    }
                                    .header-nav{
                                        display: flex;
                                        flex-direction: row;
                                        border: 2px solid rgba(0, 0, 0, 0.631);
                                        .header-nav-option{
                                            padding: .4rem 0;
                                            flex: 1;
                                            text-align: center;
                                            letter-spacing: 0.05rem;
                                            pointer-events: all;
                                            cursor: pointer;
                                            &:hover{
                                                background: rgba(0, 0, 0, 0.174);
                                            }
                                            &.active{
                                                background: rgba(0, 0, 0, 0.631);
                                                cursor: default;
                                                pointer-events: none;
                                            }
                                            /* background: rgba(0, 0, 0, 0.755); */
                                        }
                                    }
                                }
                                .notif-content{
                                    position: relative;
                                    display: block;
                                    overflow-y: scroll;
                                    padding: .4rem .2rem;
                                    margin: .5rem 0;
                                    height: 20rem;
                                    a{
                                        pointer-events: all;
                                        font-size: 16px;
                                        color: rgb(233, 233, 233);
                                    }
                                }
                            }
                        }
                    }
                    .balance{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin: 0 .25rem 0 .75rem;
                        border-radius: 5px;
                        transition: 200ms;
                        color: white;
                        background: rgb(49, 49, 49);
                        order: 2;
                        text-align: center;
                        pointer-events: all;
                        &:hover{

                        }
                        .balance-text{
                            padding: .1rem .4rem;
                            display: block;
                            @include flexCenter();
                            justify-content: space-between;
                            span{
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 17px;
                                letter-spacing: .05rem;
                            }
                        }
                        .balance-add{
                            display: block;
                            color: whitesmoke;
                            background: #563cd3;
                            border-radius: 0 5px 5px 0;
                            height: 31px;
                            padding: 0 .4rem;
                            transition: 200ms ease-in;
                            &:hover{
                                background: #6349e2;
                            }
                            span{
                                font-size: 17px;
                                line-height: 31px;
                            }
                        }
                    }
                    @include lt-md {
                        padding: .25rem 0 0 0;
                    }
                }
                @include lt-md {
                    flex-direction: column;
                    padding: 0 0 0 0;
                }
                @include lt-sm {
                    width: 100%;
                }
            }
        }
        @include lt-md {
            flex-direction: column;
            padding: .5rem 0 0 0;
        }
        @include lt-sm{
            padding: .5rem 0;
        }
    }
}
