@import './helpers/mixins';
@import './helpers/variables';
@import './helpers/media-queries';
@import './helpers/icons';

@font-face {
    font-family: sansation;
    src: url(/fonts/sansation.woff);
}

:root{
    --q-unique: #FFD700;
    --q-vintage: #476291;
    --q-genuine: #4D7455;
    --q-strange: #CF6A32;
    --q-unusual: #8650AC;
    --q-haunted: #38F3AB;
    --q-collectors: #AA0000;
    --q-decorated: #FAFAFA; 
    --q-self-made: #70B04A;
    --q-community: #70B04A;
}

$content_max_width : 1800px;

:root{
    --warning_col: rgb(145, 28, 28);
    --qualityStrange: #f47227;
}

html{
    font-size: 16px;
    position: relative;
    &.no-scroll{
        overflow-y: hidden !important;
    }
}

body{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif !important;
    /* background: rgb(83, 35, 131); */
    background: rgb(72, 72, 72);
    font-size: 22px;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    line-height: unset !important;
    font-weight: 500 !important;
    &.no-scroll{
        overflow-y: hidden !important;
        @media screen and (min-width: 677px) {
            overflow-y: scroll !important;
        }
    }
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

element.style {
}
body.dark-blue {
    background: #011f4d;
}
body {
    position: relative;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    font-family: Roboto, sans-serif !important;
    background: rgba(1,31,77,1);
    font-size: 22px;
    color: white !important;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    line-height: unset !important;
    font-weight: 500 !important;
    .overlay{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: rgba(0, 0, 0, 0.5);
        @include lt-sm{
            display: block;
        }
    }
}

*, ::after, ::before {
    box-sizing: unset !important;
}
ul{
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

a{
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.icon{
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

.trade-offer-pop-up{
    position: fixed;
    display: block;
    z-index: 10;
    .overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.406);
    }
    .pop-up-content{
        display: block;
        position: fixed;
        height: 10rem;
        width: 10rem;
        background: black;
        top: 15rem;
        left: 50%;
        transform: translateX(-50%);
        .minimise-pop-up{
            display: block;
            width: fit-content;
            position: relative;
            color: rgb(181, 181, 181);
            user-select: none;
            line-height: 10px;
            &:hover{
                color: rgb(225, 225, 225);
            }
        }
    }
}

.trade-offer-alert{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    .alert-content{
        cursor: pointer;
        border-radius: 0 0 5px 5px;
        display: block;
        position: relative;
        background: rgb(19, 19, 19);
        color: rgb(27, 131, 45);
        padding: .3rem 1.3rem;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 0.1rem;
        border: 1px solid rgb(27, 131, 45);
        border-top: none;
        transition: 350ms;
        animation: tradeAlertIn 500ms ease-in-out forwards;
        @keyframes tradeAlertIn {
            0%{
                height: 0%;
                clip-path: inset(0 0 100% 0);
            }
            100%{
                height: 100%;
                clip-path: inset(0 0 0 0);
            }
        }
        &:hover{
            background: rgb(25,25,25);
        }
        span[class*="icon"]{
            color: rgb(208, 208, 208);
        }
    }
}

.el-tooltip{
    font-family: sans-serif !important;
    display: block;
    max-width: 13rem;
    white-space: nowrap;
    font-size: 12px;
    line-height: normal !important;
    padding: .3rem .5rem;
    background: rgba(0, 0, 0, 0.594);
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    animation: Tooltip 400ms forwards;
    letter-spacing: 0.05rem;
    @keyframes Tooltip {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    &.top{
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
    }
    &.bottom{
        top: 125%;
        left: 50%;
        transform: translateX(-50%);
    }
    &.bottom-left{
        top: 125%;
        right: 5%;
    }
    &.left{
        right: 105%;
        top: 50%;
        transform: translateY(-50%);
    }
    &.right{
        left: 105%;
        top: 50%;
        transform: translateY(-50%);
    }
}

main{
    position: relative;
    display: block;
    /* min-height: calc(100vh - 3.5rem - 1rem); */ /* page - nav - padding */
    max-width: calc(1800px - 2rem);
    margin: 0 auto;
    padding: .5rem 0;
    z-index: 1;
    /* background: url('/img/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 16px 16px rgb(63, 29, 96) inset; */
    .page-section{
        display: block;
        position: relative;
        min-height: 850px;
        padding: 0 1rem;
        &.center{
            @include flexCenter();
        }
    }
    .page-section-block{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 100%;
        height: fit-content;
        padding: 1rem 0;
        margin: 3rem 0;
        .psb-background{
            background: rgb(231, 231, 231);
            display: block;
            position: absolute;
            z-index: 0;
            height: 100%;
            width: 100vw;
            top: 0;
        }
        .psb-content{
            display: block;
            position: relative;
            z-index: 1;
            .trustpilot-widget{
                min-width: 350px;
            }
        }
    }
}

.login-request{
    a[href="/auth/steam"]{
        position: relative;
        display: block;
        width: fit-content;
        padding: .4rem 1rem;
        background: rgb(63, 31, 92);
        /* box-shadow: 0px 0px 7px 3px rgb(103, 38, 164); */
        color: rgba(255, 255, 255, 0.747);
        background: linear-gradient(45deg, #321dab, #563cd3);
            background-size: 150%;
            background-position: 40%;
            border-right: 4px solid #5b43d3;
            border-bottom: 4px solid #5b43d3;
            border-radius: 5px;
        border-radius: .5rem;
        transition: all 300ms ease-in-out;
        &:hover{
            background-position: 90%;
            /* box-shadow: 0px 0px 0px 0px rgb(103, 38, 164); */
        }
        span{
            font-size: 18px;
        }                    
        span.icon{
            vertical-align: middle;
            height: 19px;
        }
    }
    span.text{
        display: block;
        font-style: italic;
    }
}

span.lang{
    display: none;
}

@import './partials/partials';
@import './partials/navbar';

@import './partials/views/home';
@import './partials/views/index';
@import './partials/views/items';
@import './partials/views/about';

@import './partials/views/profile';
@import './partials/views/admin';

@import './partials/views/premium';
@import './partials/views/bots';
@import './partials/views/ticket';

@import './partials/footer';

[filter="true"]{
    pointer-events: all !important;
}

.e404{
    @include flexCenter();
    flex-direction: row;
    min-height: fit-content !important;
    padding: 2rem 0 !important;
    .e404-text{
        display: flex;
        flex-direction: column;
        .e404-heading{
            display: block;
            font-size: 4rem;
            font-family: sans-serif;
        }
        .e404-description{
            display: block;
            font-size: 1.2rem;
            font-family: sans-serif;
        }
        a{
            display: block;
            width: fit-content;
            margin-top: .75rem;
            padding: .3rem .6rem;
            background: rgb(63, 31, 92);
            border: 2px solid rgb(87, 42, 129);
            /* box-shadow: 0px 0px 7px 3px rgb(103, 38, 164); */
            color: rgba(255, 255, 255, 0.747);
            transition: 200ms;
            &:hover{
                background: rgb(87, 42, 129);
            }
        }
    }
}
.login-req-ps{
    @include flexCenter();
    flex-direction: column;
    padding: 2rem 0 !important;
    min-height: 419px !important;
}
